* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #ffffff;
}

.content{
  border-radius: 6px;
}
/* Reset anchor styles */
a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  opacity: 0.7;
}

/* Logo styles */
.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* Navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0c1022;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding-bottom: 5px;
}

/* Navbar list styles */
.nav-list {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.nav-list li {
  padding: 10px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-list li a:hover {
  color: #9f0a0a;
}

.logo {
  letter-spacing: 5px;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: transform 0.3s ease;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    display: none;
  }
  .nav-list li {
    margin-left: 9px;
    margin-top: 9px;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
  .nav-list.active {
    /* ... (kode yang sudah ada) */
    top : 8vh;
  }
}

.nav-list.active {
  display: block;
  position: absolute;
  width: 100%;
  top : 8vh;
  left: 0;
  background: #23232e;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: translateX(0);
  transition: transform 0.3s ease-in;
  z-index: 9; /* Below the nav bar but above other content */
}
.mobile-menu div {
  width: 30px;
  background-color: white;
  margin: 5px;
  margin-top: 14px;
  transition: transform 0.3s ease;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-6.5px, 6.5px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-17px, -17px);
}

/* Media query for smaller screens */

 @media screen and (min-width: 768px) and (max-width: 1104px) {
  /* Adjust navigation for tablets */
  .nav-list {
    display: flex; /* Show horizontal nav list on tablets */
  }

  .nav-list li {
    padding: 10px 15px; /* Slightly smaller padding */
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none; /* Hide the nav list on small devices */
  }

  .mobile-menu {
    display: block; /* Show the mobile menu button on small devices */
  }
}

@media screen and (min-width: 1025px) {
  /* Ensures the navigation bar is suitable for larger screens */
  .nav-list {
    display: flex;
    justify-content: flex-end;
  }

  .nav-list li {
    padding: 10px 20px; /* More horizontal padding for a wider nav */
  }

  /* Larger padding for the logo to align it vertically within a taller nav bar */
  .logo {
    padding: 10px 0;
  }

  /* Display the full navigation menu and hide the mobile menu icon */
  .mobile-menu {
    display: none;
  }
}


/* Imports */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Vars and Reset */
:root {
  --theme: #454cad;
  --dark-text: #5f6982;
}

html, .container, * {
  box-sizing: border-box;
  font-size: 16px;
}

html, .container {
  height: 100%;
}

.container {
  padding: 2rem;
  text-align: center;
  padding-top: 140px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 1;
  color: var(--theme);
  margin-bottom: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--dark-text);
}

/* Upload Demo */
.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  transition: all .2s ease;
  user-select: none;
}

.uploader label:hover {
  border-color: var(--theme);
}

.uploader label.hover {
  border: 3px solid var(--theme);
  box-shadow: inset 0 0 0 6px #eee;
}

.uploader label.hover #start i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}

.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}

.uploader #start.hidden {
  display: none;
}

.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all .2s ease-in-out;
}

.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}

.uploader #response.hidden {
  display: none;
}

.uploader #response #messages {
  margin-bottom: .5rem;
}

.uploader #file-image {
  display: inline;
  margin: 0 auto .5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}

.uploader #file-image.hidden {
  display: none;
}

.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}

.uploader #notimage.hidden {
  display: none;
}

.uploader progress,
.uploader .progress {
  /* appearance: none; */
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}

.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}

.uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #3c3793 0%, var(--theme) 50%);
  border-radius: 4px;
}

.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #3c3793 0%, var(--theme) 50%);
  border-radius: 4px;
}

.uploader input[type="file"] {
  display: none;
}

.uploader div {
  margin: 0 0 .5rem 0;
  color: var(--dark-text);
}

.uploader .btn {
  display: inline-block;
  margin: .5rem .5rem 1rem .5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: .2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: var(--theme);
  border-color: var(--theme);
  cursor: pointer;
}

.box {
  width: 140px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

button {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}
.wrapper {
  display: flex;
  flex-direction: row;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes inputFocus {
    0% { transform: translateX(0); }
    50% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

main {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 40px auto;
    animation: fadeIn 1s ease-in-out;
}

main .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

main label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

main input[type="password"],
main input[type="file"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}

main input[type="password"]:focus,
main input[type="file"]:focus {
    border-color: #333;
    animation: inputFocus 0.7s ease-in-out;
}

main canvas, main img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    height: 1px;
    background-color: #ddd;
}

h2 {
    color: #333;
    text-align: center;
}

canvas {
    width: 100%;
    display: block;
    margin: 20px auto;
    max-width: 550px;
    height: auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#textCanvas {
    display: none;
}
main .container {
    /* Existing styles */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

main .container:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

main img {
    /* Existing styles */
    transition: transform 0.3s ease-in-out;
}

main img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Base button styling */
button {
  background-color: #4CAF50; /* Green background */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px; /* Rounded corners */
}

/* Button hover effect */
button:hover {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

/* Specific styles for the encrypt button */
#encryptButton {
  background-color: #008CBA; /* Blue background */
}

/* Specific styles for the decrypt button */
#decryptButton {
  background-color: #f44336; /* Red background */
}

/* Hover effect for specific buttons */
#encryptButton:hover {
  border: 2px solid #008CBA;
}

#decryptButton:hover {
  border: 2px solid #f44336;
}
